{
    email akilakeshara@gmail.com
}

collabboard.zentaksolutions.me {
    tls {
        issuer zerossl
    }
    
    encode gzip

    handle /api/* {
        reverse_proxy backend:5001
    }
    
    handle /socket.io/* {
        reverse_proxy backend:5001
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
